.book-detail-container {
  padding-inline: 20px;
  margin-top: 20px;
}

.book-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  background-color: rgb(100,100,100);
}

.book-detail-info {
  color: rgb(200,200,200);
}

.book-detail-type {
  height: 35px;
  padding: 6px 26px;
  border: none;
  border-radius: 5px;
  background-color: rgb(100,100,100);
  color: white;
}