footer {
  background-color: #252525;
  color: #d4d4d4;
  height: 75px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-weight:500;
  position: fixed;
  bottom: 0;
  width: 100%;
}